<%= form_for(@movie) do |f| %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title, autofocus: true %>
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description, cols: 40, rows: 7 %>
  </p>
  <p>
    <%= f.label :rating %><br/>
    <%= f.text_field :rating, size: 4 %>
  </p>
  <p>
    <%= f.label :released_on %><br/>
    <%= f.date_select :released_on %>
  </p>
  <p>
    <%= f.label :total_gross %><br/>
    <%= f.number_field :total_gross %>
  </p>
  <p>
  <%= f.label :cast %><br/>
  <%= f.text_field :cast %>
  </p>
  <p>
    <%= f.label :director %><br/>
    <%= f.text_field :director %>
  </p>
  <p>
    <%= f.label :duration %><br/>
    <%= f.text_field :duration, size: 10 %>
  </p>
  <p>
    <%= f.label :image_file_name %><br/>
    <%= f.text_field :image_file_name %>
  </p>
  <p>
    <%= f.submit %> |
    <%= link_to 'Cancel', movies_path  %>
  </p>
<% end %>
