<article>

  <header>
    <h1><%= @movie.title %></h1>
  </header>
  <h2>Description</h2>
  <p>
    <%= @movie.description %>
  </p>
  <h3>Rating</h3>
  <p>
    <%= @movie.rating %>
  </p>
  <h3>Released On</h3>
  <p>
    <%= @movie.released_on %>
  </p>
  <h3>Total Gross</h3>
  <p>
    <%= format_total_gross(@movie) %>
  </p>
  <h3>Cast</h3>
  <p>
    <%= @movie.cast %>
  </p>

  <h3>Director</h3>
  <p>
    <%= @movie.director %>
  </p>

  <h3>Duration</h3>
  <p>
    <%= @movie.duration %>
  </p>

  <h3>Image</h3>
  <%= image_for(@movie) %>
</article>
<%= link_to "Edit", edit_movie_path(@movie) %>
<%= link_to "Delete", movie_path(@movie), method: :delete, data: { confrim: 'Are you sure?' } %>
